<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">

    <div class="container" layout:fragment="LoginPage">
        <div class="row mt-3">
            <form th:action="@{'/sign-in'}" method="post">
                <div class="form-group">
                    <label class="form-label">EMAIL: </label>
                    <input type="email" class="form-control" name="user-email">
                </div>
                <div class="form-group">
                    <label class="form-label">PASSWORD: </label>
                    <input type="password" class="form-control" name="user-password">
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-success">Login</button>
                </div>
            </form>
        </div>
    </div>

</html>